#guess_form{
  text-align: center;
  margin: auto;
  position: relative;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand{
  color: white;
	position:relative;
  text-align: center;
  float: none;
}

#logo{
  position: relative;
  margin: auto;
}
.container{
  margin: auto;
  position: absolute;
  left:35%;

}
p {
  text-align: center;
}

#tabla{
  position: relative;
  margin: auto;
}
